In [1]:
import pandas as pd

# Dataset import

In [7]:
suicide_rate_by_country = pd.read_csv('suicide_rate_by_country.csv')
print(suicide_rate_by_country.shape)
suicide_rate_by_country.head()

(27820, 12)

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gpy,gdp_per_capita,generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [12]:
survey = pd.read_csv('survey.csv')
print(survey.shape)
survey.head()

(1259, 27)

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [19]:
student_survey = pd.read_csv('COVID-19 Survey Student Responses.csv')
print(student_survey.shape)
student_survey.head()

(1182, 19)

,ID,Region of residence,Age of Subject,Time spent on Online Class,Rating of Online Class experience,Medium for online class,Time spent on self study,Time spent on fitness,Time spent on sleep,Time spent on social media,Prefered social media platform,Time spent on TV,Number of meals per day,Change in your weight,Health issue during lockdown,Stress busters,Time utilized,"Do you find yourself more connected with your family, close friends , relatives ?",What you miss the most
0,R1,Delhi-NCR,21,2.0,Good,Laptop/Desktop,4.0,0.0,7.0,3.0,Linkedin,1,4,Increased,NO,Cooking,YES,YES,School/college
1,R2,Delhi-NCR,21,0.0,Excellent,Smartphone,0.0,2.0,10.0,3.0,Youtube,0,3,Decreased,NO,Scrolling through social media,YES,NO,Roaming around freely
2,R3,Delhi-NCR,20,7.0,Very poor,Laptop/Desktop,3.0,0.0,6.0,2.0,Linkedin,0,3,Remain Constant,NO,Listening to music,NO,YES,Travelling
3,R4,Delhi-NCR,20,3.0,Very poor,Smartphone,2.0,1.0,6.0,5.0,Instagram,0,3,Decreased,NO,Watching web series,NO,NO,"Friends , relatives"
4,R5,Delhi-NCR,21,3.0,Good,Laptop/Desktop,3.0,1.0,8.0,3.0,Instagram,1,4,Remain Constant,NO,Social Media,NO,NO,Travelling

# Dataset variables description
The main idea is to use data to evalute and prevent suicide cases.
There is a general knowlege that mainly males single middle age peoblo commit suicide but with more specific data and insights there is a posibility to create programs that target specific type of peaplo and help to prevent suicide.
Also there is the posibility to create programs to inform people about the problem and how to help in difficult situations.

In [14]:
# In the suicide_rate_by_country DF. The main variables are country, age, sex and suicides_nro
suicide_rate_by_country.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   country            27820 non-null  object
 1   year               27820 non-null  int64
 2   sex                27820 non-null  object
 3   age                27820 non-null  object
 4   suicides_no        27820 non-null  int64
 5   population         27820 non-null  int64
 6   suicides/100k pop  27820 non-null  float64
 7   country-year       27820 non-null  object
 8   HDI for year       8364 non-null   float64
 9    gpy               27820 non-null  object
 10  gdp_per_capita     27820 non-null  int64
 11  generation         27820 non-null  object
dtypes: float64(2), int64(4), object(6)
memory usage: 2.5+ MB

In [18]:
# In the survey DF. The main variables timestamp, age, gender, self_employed, treatment, supervisor
survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1259 non-null   object
 1   Age                        1259 non-null   int64
 2   Gender                     1259 non-null   object
 3   Country                    1259 non-null   object
 4   state                      744 non-null    object
 5   self_employed              1241 non-null   object
 6   family_history             1259 non-null   object
 7   treatment                  1259 non-null   object
 8   work_interfere             995 non-null    object
 9   no_employees               1259 non-null   object
 10  remote_work                1259 non-null   object
 11  tech_company               1259 non-null   object
 12  benefits                   1259 non-null   object
 13  care_options               1259 non-null   object
 14  wellness_program           1259 non-null   object
 15  seek_help                  1259 non-null   object
 16  anonymity                  1259 non-null   object
 17  leave                      1259 non-null   object
 18  mental_health_consequence  1259 non-null   object
 19  phys_health_consequence    1259 non-null   object
 20  coworkers                  1259 non-null   object
 21  supervisor                 1259 non-null   object
 22  mental_health_interview    1259 non-null   object
 23  phys_health_interview      1259 non-null   object
 24  mental_vs_physical         1259 non-null   object
 25  obs_consequence            1259 non-null   object
 26  comments                   164 non-null    object
dtypes: int64(1), object(26)
memory usage: 265.7+ KB

In [20]:
# In the student_survey DF. The main variables Age of Subject, Time spent on Online Class, Rating of Online Class experience, Time spent on sleep, Number of meals per day,
# Stress busters
student_survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1182 entries, 0 to 1181
Data columns (total 19 columns):
 #   Column                                                                              Non-Null Count  Dtype
---  ------                                                                              --------------  -----
 0   ID                                                                                  1182 non-null   object
 1   Region of residence                                                                 1182 non-null   object
 2   Age of Subject                                                                      1182 non-null   int64
 3   Time spent on Online Class                                                          1182 non-null   float64
 4   Rating of Online Class experience                                                   1158 non-null   object
 5   Medium for online class                                                             1131 non-null   object
 6   Time spent on self study                                                            1182 non-null   float64
 7   Time spent on fitness                                                               1182 non-null   float64
 8   Time spent on sleep                                                                 1182 non-null   float64
 9   Time spent on social media                                                          1182 non-null   float64
 10  Prefered social media platform                                                      1182 non-null   object
 11  Time spent on TV                                                                    1182 non-null   object
 12  Number of meals per day                                                             1182 non-null   int64
 13  Change in your weight                                                               1182 non-null   object
 14  Health issue during lockdown                                                        1182 non-null   object
 15  Stress busters                                                                      1182 non-null   object
 16  Time utilized                                                                       1182 non-null   object
 17  Do you find yourself more connected with your family, close friends , relatives  ?  1182 non-null   object
 18  What you miss the most                                                              1182 non-null   object
dtypes: float64(5), int64(2), object(12)
memory usage: 175.6+ KB